@import "vars.scss";
@import "mixins.scss";

.body {
	background:  $light-color;
	font-family: $secondary;
}

.wrapper {
	max-width: 1024px;
	width:100%;
	box-sizing:border-box;
	position: relative;
	padding: 0 20px;
	display: block;
	margin: 0 auto;
}

.header { 
	background: $main-color;
	position: fixed;
	top: 0;
	width:100%;
	z-index: 100;
	.wrapper {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		height: 65px;
	}
	
	.menu-container {
		height: 33px;
		&:hover {@include opacity(1)};
		@include align-items(center);
		@include opacity(.8);
		@include flexbox;
		cursor: pointer;
		.menu-btn {
			#menu-btn-icon {
				@include appearance(none);
				width:40px;
				height: 34px;
				background: $bright; 
				display: inline-block;
				margin: 0 15px 0 0;
				cursor: pointer;
				&::before, &::after {
					content:"";
					height: 8px;
					width: 100%;
					display: block;
					margin: 6px 0 0 0;
					background: $main-color;
				}
			}
			.menu-btn-label {
				font-family: $primary;
				color: $bright;
				font-weight: 400;
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 1px;
				cursor: pointer;
			}
		}
	}

	.logo-container {
		background: url('../_img/e-festas-logo.png')no-repeat center / contain;
		display: none;
		// display: inline-block;
		width: 210px;
		height: 47px;
		.link {
			@include opacity(0);
			display: block;
			height: 47px;
		}
	}

	.login-button {
		&:hover {@include opacity(1)};
		@include opacity(.8);
		color: transparent;
		width: 95px;
		height: 40px;
		display: inline-block;
		background: url('../_img/login-button.png')no-repeat center / contain;
	}
}

.hp-head {
	min-height: 455px;
	padding: 65px 0 0;
	background: url('../_img/hp-background.jpg')no-repeat center / cover;
	.wrapper {
		@include flexbox;
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		min-height: inherit;
		text-align: center;
	}
	.efestas-logo {
		max-width: 337px;
		width: 100%;
		height: 75px;
		display: block;
		color: transparent;
		margin: 0 0 37px;
		background: url('../_img/e-festas-logo.png')no-repeat center / contain;
	}
	.slogan {
		font-family: $secondary;
		color: white;
		font-size: 20px;
		font-weight: 100;
		margin: 0 0 50px;
	    line-height: 27px;
		letter-spacing: 1px;
		text-transform: uppercase;
		span {font-weight: 600}
	}
	.hp-search {
		max-width: 480px;
		width: 100%;
		.input {
			@include appearance(none);
			@include border-radius(50px);
			font-family: $secondary;
			font-size: 31px;
			font-style: italic;
			color: $darken;
			border: 0;
			outline: 0;
			width: 100%;
			display: block;
			padding: 19px;
			font-weight: 100;
			letter-spacing: 1px;
			background: white url('../_img/search-icon.png')no-repeat 93% center;
			@include placeholder{
				font-family: $secondary;
				font-style: italic;
				font-size: 31px;
				letter-spacing: 1px;				
				color: #ccc;
				font-weight: 100;
			}
			&:focus {
				@include box-shadow(0, 0, 100px, #001544)
			}
		}
	}
}

.hp-content {
	margin: 60px 0 0;
	.content {
		@include flexbox;
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@include align-items(flex-start);
		.hp-filters-desk {
			width: 25%;
			padding: 5px;
			background: white;
			@include box-shadow(0, 2px, 5px, #ccc);
			.filter {
				.title {
					font-style: italic;
					font-weight: 100;
					margin: 0 0 10px;
					font-size: 18px;
					padding: 10px;
					color: white;
					@include gradient-directional(#82c1f5, #3c7da4, 20deg)
				}
				.filter-list {
					margin: 0 0 35px;
				    height: 218px;
				    overflow-y: scroll;
				    position: relative;
				}
				.list-item {
					list-style: none;
					margin: 0 0 10px;
					padding: 1px 5px 10px;
					font-style: italic;
					color: $darken;
					border-bottom: 1px dotted #ccc;
					input {
						@include appearance(none);
						width: 15px;
						height: 15px;
						cursor: pointer;
						margin: -4px 0 0;
						border: 1px solid #a7a7a7;
						&:checked {
							background:$bright;
							border: 1px solid $darken;
							&:before {
								content: "\2713";
								font-size: 18px;
								top: -6px;
								position: relative;
							}
						}
						&:focus {
							outline: 0;
						}
					}
					label {
						margin: 0 0 0 3px;
						cursor: pointer;
					}
				}
			}
		}		
		.feed {
			width: 70%;
			.ui-tabs-nav {
				list-style:none;
				@include flexbox;
				border-bottom: 10px solid #2b3a69;
				.ui-tab {
					background:$light;
					padding: 12px 25px;
					a {
						text-decoration: none;
						color: white;
						font-family: $primary;
						text-transform: uppercase;
						font-size: 20px;
						font-weight: 100;
						letter-spacing: 1px;
						&:focus{outline:none}
					}
					&.ui-state-active {
						@include gradient-vertical(#528eb2, #2b3a69, 0, 100%);
					}
				}
				margin: 0 0 30px;
			}
			.ui-tabs-panel {

			}
			.feed-item {
				@include flexbox;
				@include flex-wrap(nowrap);
				@include box-shadow(0, 2px, 5px, #ccc);
				background:white;
				margin: 0 0 30px;
				.img {
					display: inline-block;
					min-width: 194px;
					height: auto;
					border: 1px solid white;
					@include align-self(stretch);
					&#profile_001 {
						background:url('http://lorempixel.com/200/200/')no-repeat center / cover;
					}
				}
				.item-content {
					width: 100%;
					padding: 25px;
					position: relative;
					.title {
						margin: 0 0 10px;
						a {
							display: inline-block;
							color: $darken;
							font-style:italic;
							font-size: 26px;
							margin: 0 0 7px;
							text-decoration:none;
							display: block;
						}
						.rating {
							background:url('../_img/rating-mockup.jpg')no-repeat 0 100%;
							width: 111px;
							height: 15px;
							display: inline-block;
							.rating-result {
								background:url('../_img/rating-mockup.jpg')no-repeat 0 0;
								width: 50%;
								height: 15px;
								display: inline-block;
							}
						}
					}
					.release {
						@include flexbox;
						.resume {
							letter-spacing: 0.5px;
							line-height: 16px;
							font-size: 14px;
							width: 70%;
						}
						.price {
							text-decoration: none;
							font-family: $primary;
							background: $medium;
							text-align: center;
							position: absolute;
							width: 115px;
							right: -18px;
							color: white;
							top: 65px;
							&:hover .see-more {
								color: #2a363e;
							}
							.title {
								letter-spacing: 0.5px;
								font-size: 12px;
								padding: 5px 0;
								margin: 0;
							}
							.value {
								background: $light;
								font-size: 18px;
								padding: 10px 0;
								span{font-weight:100}
							}
							.see-more {
								text-decoration: none;
								color: white;
								font-weight: 600;
								font-size: 12px;
								text-transform: uppercase;
								letter-spacing: 1px;
								padding: 7px 0 6px;
								display: block;
								width: 100%;
								background: $medium;
								border:0;
								outline:0;
								&:after {
									content: " ▶";
								    font-size: 8px;
								    position: absolute;
								    margin: 2.53px 0 0 4px;
								    opacity: 0.85;
								}
							}
							&:after {
								content: "";
								display: block;
								background: url('../_img/price-shadow.png')no-repeat 100% 0 / contain;
								position: absolute;
								width: 18px;
								height: 12px;
								right: 0;
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	text-align: center;
	background: $main-color;
	margin: 80px 0 0;
	.logo-container {
		color: transparent;
		outline: 0;
		border: 0;
		.logo-footer{
			display: inline-block;
			margin: 30px auto 15px;
			position: relative;
		}
	}
	.footer-nav {
		margin: 30px 0 60px;
		.wrapper {
			@include flexbox;
			@include justify-content(space-between);
		}
		.link-item {

			border-bottom: 1px dotted rgba(0, 233, 255, 0.75);
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 2px;
			font-family: $primary;
			color: $light-color;
			font-weight: 100;
			font-size: 16px;
			padding: 10px 0;
			&:hover {
				border-bottom:1px solid $light-color;
				color: white;
			}
		}
	}
	.bottom-bar {
		@include flexbox;
		height: 100px;
		color: white;
		.wrapper {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
			.left-side {
				@include flexbox;
				@include align-items(center);
				font-family: $secondary;
				font-size: 14px;
				font-weight: 100;
				letter-spacing: 1px;
				.separator {
					margin: 0 10px;
					color: $bright;
				}
				.tel-icon {
					background:url('../_img/footer-tel-icon.png')no-repeat center / contain;
					display: inline-block;
					margin: 0 5px 0 0;
					height: 20px;
					width: 20px;
				}
			}
			.center {
				@include flexbox;
				@include justify-content(space-between);
				max-width: 100px;
				.social-icon {
					display: inline-block;
					color: transparent;
					width: 28%;
					height: 35px;
					cursor: pointer;
					&:hover { @include opacity(0.75) }
					&.facebook { background:url('../_img/footer-fb-icon.png')no-repeat center / contain }
					&.twitter { background:url('../_img/footer-twt-icon.png')no-repeat center / contain }
					&.email { background:url('../_img/footer-mail-icon.png')no-repeat center / contain }
				}
			}
			.right-side {
				letter-spacing: 0.5px;
				font-weight: 100;
				font-size: 14px;
			}
		}
	}
}

.hp-filters-mobile { display:none }

.business-page {
	.internal-head {
		background:url('../_img/business-head.jpg')no-repeat center / cover;
		margin: 65px 0 50px;
		padding: 60px 0;
		text-align: center;
		.type-of-business {
			font-size: 18px;
			color: white;
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 2px;
			margin: 0 0 10px;
		}
		.business-name {
			font-size: 48px;
			color: $main-color;
			font-weight: 100;
		}
	}
	.house-content {
		.wrapper {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
			margin: 0 auto 150px;
		}
		.infos {
			width: 25%;
			background: #d4dadc;
			.business-logo {
				max-width: 80%;
				display: block;
				margin: 0 auto;
				padding: 50px 0;
				border-bottom: 1px solid #e2ebec;
			}
			.info-item {
				padding: 0 5%;
				margin: 0 0 50px;
				.title{
					@include flexbox;
					@include align-items(center);
					font-family: $secondary;
					font-size: 18px;
					letter-spacing: 0.5px;
					color: $main-color;
					text-transform: uppercase;
					background:#fff;
					font-weight: 100;
					margin: 0 0 15px;
					&:before {
						display: inline-block;
						margin: 1.5px 15px 2px 2px;
						height: 35px;
						width: 40px;
						content: '';
					}
					&.location {
						&:before { background: #d4dadc url('../_img/address-icon.png')no-repeat center; }
					}
					&.contact {
						&:before { background: #d4dadc url('../_img/phone-icon.png')no-repeat center; }
					}
					&.buffet {
						@include gradient-directional(#82c1f5, #3c7da4, 20deg);
						color: white;
						margin: 0;

					}
				}
				.info {
					font-size: 18px;
					color: $darken;
					line-height: 20px;
					margin: 0 0 10px;
				}
			}
			.buffet-options {
				list-style: none;
				background: white;
				padding: 15px;
				font-size: 14px;
				color: $darken;
			    max-height: 250px;
			    overflow-y: scroll;
				.buffet-item {
					margin: 0 0 10px;
					&:before {
						content: '\00bb';
						color: $main-color;
						margin: 0 5px 0 0;
					}
				}
			}
			.open-contact {
				border: 0;
				color: white;
				padding: 15px;
				margin: 0 auto;
				display: block;
				cursor: pointer;
				font-size: 16px;
				font-weight: 100;
				letter-spacing: 2px;
				text-transform: uppercase;
				border-bottom: 3px solid #3f7694;
				background: rgba(79,163,213,1);
				background: -moz-linear-gradient(top, rgba(79,163,213,1) 0%, rgba(75,152,194,1) 50%, rgba(77,142,179,1) 50%, rgba(77,142,179,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,163,213,1)), color-stop(50%, rgba(75,152,194,1)), color-stop(50%, rgba(77,142,179,1)), color-stop(100%, rgba(77,142,179,1)));
				background: -webkit-linear-gradient(top, rgba(79,163,213,1) 0%, rgba(75,152,194,1) 50%, rgba(77,142,179,1) 50%, rgba(77,142,179,1) 100%);
				background: -o-linear-gradient(top, rgba(79,163,213,1) 0%, rgba(75,152,194,1) 50%, rgba(77,142,179,1) 50%, rgba(77,142,179,1) 100%);
				background: -ms-linear-gradient(top, rgba(79,163,213,1) 0%, rgba(75,152,194,1) 50%, rgba(77,142,179,1) 50%, rgba(77,142,179,1) 100%);
				background: linear-gradient(to bottom, rgba(79,163,213,1) 0%, rgba(75,152,194,1) 50%, rgba(77,142,179,1) 50%, rgba(77,142,179,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fa3d5', endColorstr='#4d8eb3', GradientType=0 );
				&:focus {outline:0}
				&:active{border-bottom:3px solid #d4dadc;}
				&:hover {color:#c5faff}
			}
			.business-mailto {
			    background: #c4cbcd;
			    width: 100%;
			    display: block;
			    text-align: center;
			    font-size: 12px;
			    padding: 20px 0;
			    margin: 60px 0 0;
			    cursor: pointer;
			    color:$darken;
			    &:hover {text-decoration:underline}
			}

		}

		.main-content {
			width: 70%;
			font-size: 16px;
			.business-resume {
			    letter-spacing: 0.25px;
				font-style: italic;
				line-height: 30px;
				font-weight: 600;
			    margin: 0 0 20px;
				font-size: 24px;
			}
			.business-release {
				line-height: 20px;
				.content {
					margin: 0 0 20px;
    				line-height: 25px;
				}
			}
			.business-buffet {
				.buffet-title {
					font-family: $secondary;
					font-weight: 900;
					font-size: 18px;
					color: $darken;
					text-transform: uppercase;
					margin: 40px 0 20px;
					padding: 15px 15px 15px 60px;
					letter-spacing: 0.75px;
					background: white url('../_img/buffet-icon.png')no-repeat 15px 10px;
					span { font-weight: 100 }
				}
				.buffet-subtitle {
				    font-weight: 600;
				    margin: 0 0 25px;
				}
				.buffet-menu {
					ul{list-style: none;}
					@include flexbox;
					@include justify-content(space-between);
					margin: 0 0 40px;
					.left-side {
						width: 49%;
					}
					.right-side {
						width: 49%;
					}
					.menu-item {
						margin: 0 0 15px;
						letter-spacing: 1px;
						&:before {
							color: $darken;
							content:'\203A';
							margin: 0 7px 0 0;
						}
					}
				}
			}
			.business-slider {

			}
		}
	}
}

.register {
	.register-row {
		margin: 0 0 75px;
		position: relative;
		.labels {
			label {
				font-family: $primary;
				font-size: 16px;
				color: $darken;
				letter-spacing: 2px;
				font-weight: 100;
				text-transform: uppercase;
				margin: 0 0 5px;
				display: block;
			}
			.ask {
				font-size: 26px;
				color: $main-color;
				font-weight: 400;
				margin: 0 0 10px;
			}
			.detail {
				font-size: 14px;
				color: #909090;
				line-height: 19px;
    			letter-spacing: 0.25px;
    			margin: 0 0 15px;
			}
		}
		&.two-columns{
			@include flexbox;
			@include justify-content(space-between);
			.left-column,
			.right-column {
				width: 47%;
				&.avatar-column { width: 25% }
				&.menu-column   { width: 70% }
				&.no-label      { padding: 21px 0 0 }
			}
			.menu-column {
				textarea {
					height: 130px;
				}
			}
		}
		.phones {
			@include flexbox;
			@include justify-content(space-between);
			input[type="text"] { width: 47% }
		}
		.add-phones {
		    &:hover { 
		    	transition: 2s color;
		    	color: #000;
		    }
		    text-transform: uppercase;
		    display: inline-block;
		    letter-spacing: 1px;
		    border-radius: 30px;
			background: #c5cecf;
		    text-align: center;
		    padding: 15px 30px;
		    font-weight: 100;
		    margin: 25px 0 0;
		    color: #777;
		    cursor: pointer;
		}
		input[type="text"] ,
		textarea {
			@include appearance(none);
			width: 100%;
			color: #8f9294;
			box-sizing: border-box;
			font-size: 28px;
			font-weight: 100;
			padding: 15px;
			border: 1px solid #ccc;
			letter-spacing: 1px;
			@include box-shadow(0, 3px, 3px, rgba(119, 119, 119, 0.2));
			&:focus{
				outline:none;
				@include box-shadow(0, 1px, 1px, rgba(119, 119, 119, 0.15));
			}
		}
		textarea {
			max-height: 130px;
			min-height: 130px;
			min-width: 100%;
			max-width: 100%;
		}
		button.verify {
			@include appearance(none);
			text-transform:uppercase;
			font-size: 18px;
			font-weight: 100;
			background: $main-color;
			font-family: $primary;
			color: #fff;
			padding: 12.25px 10px;
			border: 0;
			position: absolute;
			right: 10px;
			bottom: 10px;
			cursor: pointer;
			&:focus  { outline: none }
			&:hover  { opacity: .85 }
			&:active { opacity: 1 }
		}
		#avatar {
			@include appearance(none);
		    background: #cacece;
		    width: 100%;
		    height: 100%;
		    text-align: center;
		    position: relative;
		    &::-webkit-file-upload-button{visibility: hidden}
		    &:before {
		    	content: '';
		    	display: block;
		    	position: absolute;
		    	width: 100%;
		    	height: 100%;
		    	background: #cacece url('../_img/upload-bg.png')no-repeat center / contain;
		    	text-align: center;
		    	font-size: 18px;
		    	text-transform: uppercase;
		    	font-family: $primary;
		    	font-weight:100;
		    }
			input{ 
				display: none;
			}
		}
		#img-upload {
			@include flexbox;
			@include flex-wrap(wrap);
			.upload-item {
				display: inline-block;
				width: 15%;
				height: 150px;
				background: #c5cecf url('../_img/icon-add-photo.png')no-repeat center;
				margin: 1.25% 1.25% 0 0;
				border: 2px solid #c5cecf;
				cursor: pointer;
				&:hover { border: 2px dotted #aaa }
			}
			.save {
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    background: #2dd2a9;
			    font-weight: 100;
			    margin: 1.5% 0 0;
			    font-size: 16px;
			    cursor: pointer;
			    color: white;
			    width: 15%;
				border-radius: 5px 70px 70px 70px;
				-moz-border-radius: 5px 70px 70px 70px;
				-webkit-border-radius: 5px 70px 70px 70px;
				border: 0px solid #2dd2a9;
			    &:hover { 
			    	background: #2db9d2;
			    }
			    &:before {
			    	width: 37px;
			    	content: '';
			    	height: 37px;
			    	display: block;
			    	margin: 0 auto 10px;
			    	background: url('../_img/icon-save.png')no-repeat center / contain;
			    }
			    &:focus {
			    	border:0;
			    	outline: 0;
			    }
			}
		}
		.price-per-people {
			font-family: $secondary;
			color: #528eb2;
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 1px;
			font-size: 20px;
			text-align: center;
			margin: 30px 0 18px;
			.price-result {
				font-size:26px;
				color: #2a366c;
				font-weight: 900;
				letter-spacing: -1px;
				&:before {
					content: '';
					width: 17px;
					height: 19px;
					margin: 0 5px 0 0;
					display: inline-block;
					background: url('../_img/icon-price.png')no-repeat center / contain;
				}
			}
		}
		.range {
			width: 100%;
			-webkit-appearance: none;
			background: transparent; 
			&::-webkit-slider-thumb { -webkit-appearance: none }
			&:focus { outline: none }
			&::-ms-track {
			  width: 100%;
			  cursor: pointer;
			  background: transparent; 
			  border-color: transparent;
			  color: transparent;
			}
			&::-webkit-slider-thumb {
			  -webkit-appearance: none;
			  height: 32px;
			  width: 32px;
			  border-radius: 100px;
			  background: #2a366c url('../_img/icon-range.png')no-repeat center;
			  cursor: pointer;
			  margin-top: -9px;
			}
			&::-moz-range-thumb {
			  height: 32px;
			  width: 32px;
			  border-radius: 100px;
			  background: #2a366c url('../_img/icon-range.png')no-repeat center;
			  cursor: pointer;
			}
			&::-ms-thumb {
			  height: 32px;
			  width: 32px;
			  border-radius: 100px;
			  background: #2a366c url('../_img/icon-range.png')no-repeat center;
			  cursor: pointer;
			}
			&::-webkit-slider-runnable-track {
			  width: 100%;
			  height: 15px;
			  cursor: pointer;        
			  background: rgba(48,78,171,1);
			  background: -moz-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,78,171,1)), color-stop(4%, rgba(48,78,171,1)), color-stop(100%, rgba(0,174,255,1)));
			  background: -webkit-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -o-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -ms-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: linear-gradient(135deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304eab', endColorstr='#00aeff', GradientType=1 );
			  border-radius: 100px;
			  border: 0.2px solid #304eab;
			}

			&:focus::-webkit-slider-runnable-track { 
			  background: rgba(0,174,255,1);
			  background: -moz-linear-gradient(45deg, rgba(0,174,255,1) 0%, rgba(48,78,171,1) 96%, rgba(48,78,171,1) 100%);
			  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,174,255,1)), color-stop(96%, rgba(48,78,171,1)), color-stop(100%, rgba(48,78,171,1)));
			  background: -webkit-linear-gradient(45deg, rgba(0,174,255,1) 0%, rgba(48,78,171,1) 96%, rgba(48,78,171,1) 100%);
			  background: -o-linear-gradient(45deg, rgba(0,174,255,1) 0%, rgba(48,78,171,1) 96%, rgba(48,78,171,1) 100%);
			  background: -ms-linear-gradient(45deg, rgba(0,174,255,1) 0%, rgba(48,78,171,1) 96%, rgba(48,78,171,1) 100%);
			  background: linear-gradient(45deg, rgba(0,174,255,1) 0%, rgba(48,78,171,1) 96%, rgba(48,78,171,1) 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeff', endColorstr='#304eab', GradientType=1 );
			}
			&::-moz-range-track {
			  width: 100%;
			  height: 15px;
			  cursor: pointer;
			  background: rgba(48,78,171,1);
			  background: -moz-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,78,171,1)), color-stop(4%, rgba(48,78,171,1)), color-stop(100%, rgba(0,174,255,1)));
			  background: -webkit-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -o-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -ms-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: linear-gradient(135deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304eab', endColorstr='#00aeff', GradientType=1 );
			  border-radius: 100px;
			  border: 0.2px solid #304eab;
			}
			&::-ms-track {
			  width: 100%;
			  height: 15px;
			  cursor: pointer;
			  background: transparent;
			  border-color: transparent;
			  border-width: 16px 0;
			  color: transparent;
			}
			&::-ms-fill-lower {
			  background: #2a6495;
			  border: 0.2px solid #304eab;
			  border-radius: 2.6px;
			}
			&:focus::-ms-fill-lower { background: #3071a9 }
			&::-ms-fill-upper {
			  background: rgba(48,78,171,1);
			  background: -moz-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,78,171,1)), color-stop(4%, rgba(48,78,171,1)), color-stop(100%, rgba(0,174,255,1)));
			  background: -webkit-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -o-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: -ms-linear-gradient(-45deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  background: linear-gradient(135deg, rgba(48,78,171,1) 0%, rgba(48,78,171,1) 4%, rgba(0,174,255,1) 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#304eab', endColorstr='#00aeff', GradientType=1 );
			  border: 0.2px solid #304eab;
			  border-radius: 2.6px;
			}
			&:focus::-ms-fill-upper { background: #367ebd }
		}
	}
	.submit {
		background: rgba(0,159,199,1);
		background: -moz-linear-gradient(top, rgba(0,159,199,1) 0%, rgba(0,159,199,1) 50%, rgba(0,149,190,1) 50%, rgba(0,149,190,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,159,199,1)), color-stop(50%, rgba(0,159,199,1)), color-stop(50%, rgba(0,149,190,1)), color-stop(100%, rgba(0,149,190,1)));
		background: -webkit-linear-gradient(top, rgba(0,159,199,1) 0%, rgba(0,159,199,1) 50%, rgba(0,149,190,1) 50%, rgba(0,149,190,1) 100%);
		background: -o-linear-gradient(top, rgba(0,159,199,1) 0%, rgba(0,159,199,1) 50%, rgba(0,149,190,1) 50%, rgba(0,149,190,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,159,199,1) 0%, rgba(0,159,199,1) 50%, rgba(0,149,190,1) 50%, rgba(0,149,190,1) 100%);
		background: linear-gradient(to bottom, rgba(0,159,199,1) 0%, rgba(0,159,199,1) 50%, rgba(0,149,190,1) 50%, rgba(0,149,190,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009fc7', endColorstr='#0095be', GradientType=0 );
		border:0;
		border-top: 1px solid rgba(0,149,190,0.15);
		border-bottom: 1px solid #fff;
		padding: 30px 100px;
		font-size: 25px;
		font-weight: 100;
		letter-spacing: 4px;
		color: rgba(255, 255, 255, 0.76);
		text-align: center;
		text-transform: uppercase;
		display: block;
		margin: 105px auto 150px;
		cursor: pointer;
		&:hover {
			-webkit-box-shadow: inset 0px 0px 130px 15px rgba(0,187,255,1);
			-moz-box-shadow: inset 0px 0px 130px 15px rgba(0,187,255,1);
			box-shadow: inset 0px 0px 130px 15px rgba(0,187,255,1);
			color: rgba(255, 255, 255, 1);
			transition: 1.5s box-shadow;
		}
		&:active { color: rgba(255, 255, 255, 1) }
		&:focus  { outline:0; border:0 }
	}
}



@media screen and (max-width:800px) { @import "tablet.scss" }
@media screen and (max-width:480px) { @import "phone.scss" }