/* Colors --------------------- */

$main-color    :   #1ba4da;

$light-color   :   #e2ebec;

$bright        :   #c5faff;

$darken        :   #2b3a69;

$medium        :   #528eb2;

$light         :   #649ebf;

$footer-base   :   #3e6073;


/* Fonts --------------------- */

$primary     : 'Roboto', sans-serif;

$secondary   : 'Open Sans', sans-serif;


