@charset "UTF-8";
/* Colors --------------------- */
/* Fonts --------------------- */
.body {
  background: #e2ebec;
  font-family: "Open Sans", sans-serif; }

.wrapper {
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;
  display: block;
  margin: 0 auto; }

.header {
  background: #1ba4da;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 65px; }
  .header .menu-container {
    height: 33px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
    .header .menu-container:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
    .header .menu-container .menu-btn #menu-btn-icon {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 40px;
      height: 34px;
      background: #c5faff;
      display: inline-block;
      margin: 0 15px 0 0;
      cursor: pointer; }
      .header .menu-container .menu-btn #menu-btn-icon::before, .header .menu-container .menu-btn #menu-btn-icon::after {
        content: "";
        height: 8px;
        width: 100%;
        display: block;
        margin: 6px 0 0 0;
        background: #1ba4da; }
    .header .menu-container .menu-btn .menu-btn-label {
      font-family: "Roboto", sans-serif;
      color: #c5faff;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer; }
  .header .logo-container {
    background: url("../_img/e-festas-logo.png") no-repeat center/contain;
    display: none;
    width: 210px;
    height: 47px; }
    .header .logo-container .link {
      opacity: 0;
      filter: alpha(opacity=0);
      display: block;
      height: 47px; }
  .header .login-button {
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: transparent;
    width: 95px;
    height: 40px;
    display: inline-block;
    background: url("../_img/login-button.png") no-repeat center/contain; }
    .header .login-button:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

.hp-head {
  min-height: 455px;
  padding: 65px 0 0;
  background: url("../_img/hp-background.jpg") no-repeat center/cover; }
  .hp-head .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    min-height: inherit;
    text-align: center; }
  .hp-head .efestas-logo {
    max-width: 337px;
    width: 100%;
    height: 75px;
    display: block;
    color: transparent;
    margin: 0 0 37px;
    background: url("../_img/e-festas-logo.png") no-repeat center/contain; }
  .hp-head .slogan {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 50px;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .hp-head .slogan span {
      font-weight: 600; }
  .hp-head .hp-search {
    max-width: 480px;
    width: 100%; }
    .hp-head .hp-search .input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      font-family: "Open Sans", sans-serif;
      font-size: 31px;
      font-style: italic;
      color: #2b3a69;
      border: 0;
      outline: 0;
      width: 100%;
      display: block;
      padding: 19px;
      font-weight: 100;
      letter-spacing: 1px;
      background: white url("../_img/search-icon.png") no-repeat 93% center; }
      .hp-head .hp-search .input::-webkit-input-placeholder {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 31px;
        letter-spacing: 1px;
        color: #ccc;
        font-weight: 100; }
      .hp-head .hp-search .input:-moz-placeholder {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 31px;
        letter-spacing: 1px;
        color: #ccc;
        font-weight: 100; }
      .hp-head .hp-search .input::-moz-placeholder {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 31px;
        letter-spacing: 1px;
        color: #ccc;
        font-weight: 100; }
      .hp-head .hp-search .input:-ms-input-placeholder {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 31px;
        letter-spacing: 1px;
        color: #ccc;
        font-weight: 100; }
      .hp-head .hp-search .input:focus {
        -webkit-box-shadow: 0 0 100px #001544;
        -moz-box-shadow: 0 0 100px #001544;
        box-shadow: 0 0 100px #001544; }

.hp-content {
  margin: 60px 0 0; }
  .hp-content .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
    .hp-content .content .hp-filters-desk {
      width: 25%;
      padding: 5px;
      background: white;
      -webkit-box-shadow: 0 2px 5px #ccc;
      -moz-box-shadow: 0 2px 5px #ccc;
      box-shadow: 0 2px 5px #ccc; }
      .hp-content .content .hp-filters-desk .filter .title {
        font-style: italic;
        font-weight: 100;
        margin: 0 0 10px;
        font-size: 18px;
        padding: 10px;
        color: white;
        background-repeat: repeat-x;
        background-image: -webkit-linear-gradient(20deg, #82c1f5, #3c7da4);
        background-image: -o-linear-gradient(20deg, #82c1f5, #3c7da4);
        background-image: linear-gradient(20deg, #82c1f5, #3c7da4); }
      .hp-content .content .hp-filters-desk .filter .filter-list {
        margin: 0 0 35px;
        height: 218px;
        overflow-y: scroll;
        position: relative; }
      .hp-content .content .hp-filters-desk .filter .list-item {
        list-style: none;
        margin: 0 0 10px;
        padding: 1px 5px 10px;
        font-style: italic;
        color: #2b3a69;
        border-bottom: 1px dotted #ccc; }
        .hp-content .content .hp-filters-desk .filter .list-item input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          cursor: pointer;
          margin: -4px 0 0;
          border: 1px solid #a7a7a7; }
          .hp-content .content .hp-filters-desk .filter .list-item input:checked {
            background: #c5faff;
            border: 1px solid #2b3a69; }
            .hp-content .content .hp-filters-desk .filter .list-item input:checked:before {
              content: "\2713";
              font-size: 18px;
              top: -6px;
              position: relative; }
          .hp-content .content .hp-filters-desk .filter .list-item input:focus {
            outline: 0; }
        .hp-content .content .hp-filters-desk .filter .list-item label {
          margin: 0 0 0 3px;
          cursor: pointer; }
    .hp-content .content .feed {
      width: 70%; }
      .hp-content .content .feed .ui-tabs-nav {
        list-style: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 10px solid #2b3a69;
        margin: 0 0 30px; }
        .hp-content .content .feed .ui-tabs-nav .ui-tab {
          background: #649ebf;
          padding: 12px 25px; }
          .hp-content .content .feed .ui-tabs-nav .ui-tab a {
            text-decoration: none;
            color: white;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 1px; }
            .hp-content .content .feed .ui-tabs-nav .ui-tab a:focus {
              outline: none; }
          .hp-content .content .feed .ui-tabs-nav .ui-tab.ui-state-active {
            background-image: -webkit-linear-gradient(top, #528eb2 0, #2b3a69 100%);
            background-image: -o-linear-gradient(top, #528eb2 0, #2b3a69 100%);
            background-image: linear-gradient(to bottom, #528eb2 0, #2b3a69 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF528EB2', endColorstr='#FF2B3A69', GradientType=0); }
      .hp-content .content .feed .feed-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: none;
        flex-wrap: nowrap;
        -webkit-box-shadow: 0 2px 5px #ccc;
        -moz-box-shadow: 0 2px 5px #ccc;
        box-shadow: 0 2px 5px #ccc;
        background: white;
        margin: 0 0 30px; }
        .hp-content .content .feed .feed-item .img {
          display: inline-block;
          min-width: 194px;
          height: auto;
          border: 1px solid white;
          -webkit-align-self: stretch;
          -moz-align-self: stretch;
          -ms-flex-item-align: stretch;
          align-self: stretch; }
          .hp-content .content .feed .feed-item .img#profile_001 {
            background: url("http://lorempixel.com/200/200/") no-repeat center/cover; }
        .hp-content .content .feed .feed-item .item-content {
          width: 100%;
          padding: 25px;
          position: relative; }
          .hp-content .content .feed .feed-item .item-content .title {
            margin: 0 0 10px; }
            .hp-content .content .feed .feed-item .item-content .title a {
              display: inline-block;
              color: #2b3a69;
              font-style: italic;
              font-size: 26px;
              margin: 0 0 7px;
              text-decoration: none;
              display: block; }
            .hp-content .content .feed .feed-item .item-content .title .rating {
              background: url("../_img/rating-mockup.jpg") no-repeat 0 100%;
              width: 111px;
              height: 15px;
              display: inline-block; }
              .hp-content .content .feed .feed-item .item-content .title .rating .rating-result {
                background: url("../_img/rating-mockup.jpg") no-repeat 0 0;
                width: 50%;
                height: 15px;
                display: inline-block; }
          .hp-content .content .feed .feed-item .item-content .release {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex; }
            .hp-content .content .feed .feed-item .item-content .release .resume {
              letter-spacing: 0.5px;
              line-height: 16px;
              font-size: 14px;
              width: 70%; }
            .hp-content .content .feed .feed-item .item-content .release .price {
              text-decoration: none;
              font-family: "Roboto", sans-serif;
              background: #528eb2;
              text-align: center;
              position: absolute;
              width: 115px;
              right: -18px;
              color: white;
              top: 65px; }
              .hp-content .content .feed .feed-item .item-content .release .price:hover .see-more {
                color: #2a363e; }
              .hp-content .content .feed .feed-item .item-content .release .price .title {
                letter-spacing: 0.5px;
                font-size: 12px;
                padding: 5px 0;
                margin: 0; }
              .hp-content .content .feed .feed-item .item-content .release .price .value {
                background: #649ebf;
                font-size: 18px;
                padding: 10px 0; }
                .hp-content .content .feed .feed-item .item-content .release .price .value span {
                  font-weight: 100; }
              .hp-content .content .feed .feed-item .item-content .release .price .see-more {
                text-decoration: none;
                color: white;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 7px 0 6px;
                display: block;
                width: 100%;
                background: #528eb2;
                border: 0;
                outline: 0; }
                .hp-content .content .feed .feed-item .item-content .release .price .see-more:after {
                  content: " ▶";
                  font-size: 8px;
                  position: absolute;
                  margin: 2.53px 0 0 4px;
                  opacity: 0.85; }
              .hp-content .content .feed .feed-item .item-content .release .price:after {
                content: "";
                display: block;
                background: url("../_img/price-shadow.png") no-repeat 100% 0/contain;
                position: absolute;
                width: 18px;
                height: 12px;
                right: 0; }

.footer {
  text-align: center;
  background: #3e6073;
  margin: 80px 0 0; }
  .footer .logo-container {
    background: url("../_img/footer-texture.jpg") repeat-x;
    color: transparent;
    outline: 0;
    border: 0; }
    .footer .logo-container .logo-footer {
      display: inline-block;
      margin: 10px auto 0;
      position: relative; }
  .footer .footer-nav {
    margin: 30px 0 60px; }
    .footer .footer-nav .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
    .footer .footer-nav .link-item {
      border-bottom: 1px dotted #3e6073;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 16px;
      padding: 10px 0;
      color: #a8c8cb; }
      .footer .footer-nav .link-item:hover {
        border-bottom: 1px dotted #a8c8cb; }
  .footer .bottom-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: url("../_img/bottom-bar-bg.jpg") repeat-x;
    height: 100px;
    color: white; }
    .footer .bottom-bar .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      .footer .bottom-bar .wrapper .left-side {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1px; }
        .footer .bottom-bar .wrapper .left-side .separator {
          margin: 0 10px;
          color: #c5faff; }
        .footer .bottom-bar .wrapper .left-side .tel-icon {
          background: url("../_img/footer-tel-icon.png") no-repeat center/contain;
          display: inline-block;
          margin: 0 5px 0 0;
          height: 20px;
          width: 20px; }
      .footer .bottom-bar .wrapper .center {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        max-width: 100px; }
        .footer .bottom-bar .wrapper .center .social-icon {
          display: inline-block;
          color: transparent;
          width: 28%;
          height: 35px;
          cursor: pointer; }
          .footer .bottom-bar .wrapper .center .social-icon.facebook {
            background: url("../_img/footer-fb-icon.png") no-repeat center/contain; }
          .footer .bottom-bar .wrapper .center .social-icon.twitter {
            background: url("../_img/footer-twt-icon.png") no-repeat center/contain; }
          .footer .bottom-bar .wrapper .center .social-icon.email {
            background: url("../_img/footer-mail-icon.png") no-repeat center/contain; }
      .footer .bottom-bar .wrapper .right-side {
        letter-spacing: 0.5px;
        font-weight: 100;
        font-size: 14px; }

.hp-filters-mobile {
  display: none; }

.business-page .internal-head {
  background: url("../_img/business-head.jpg") no-repeat center/cover;
  margin: 65px 0 50px;
  padding: 60px 0;
  text-align: center; }
  .business-page .internal-head .type-of-business {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0 0 10px; }
  .business-page .internal-head .business-name {
    font-size: 48px;
    color: #1ba4da;
    font-weight: 100; }
.business-page .house-content .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
.business-page .house-content .infos {
  width: 25%;
  background: #d4dadc; }
  .business-page .house-content .infos .business-logo {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 60px 0;
    border-bottom: 1px solid #e2ebec; }
  .business-page .house-content .infos .info-item {
    padding: 0 5%;
    margin: 0 0 50px; }
    .business-page .house-content .infos .info-item .title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      letter-spacing: 0.5px;
      color: #1ba4da;
      text-transform: uppercase;
      background: #fff;
      font-weight: 100;
      margin: 0 0 15px; }
      .business-page .house-content .infos .info-item .title:before {
        display: inline-block;
        margin: 1.5px 15px 2px 2px;
        height: 35px;
        width: 40px;
        content: ''; }
      .business-page .house-content .infos .info-item .title.location:before {
        background: #d4dadc url("../_img/address-icon.png") no-repeat center; }
      .business-page .house-content .infos .info-item .title.contact:before {
        background: #d4dadc url("../_img/phone-icon.png") no-repeat center; }
    .business-page .house-content .infos .info-item .info {
      font-size: 18px;
      color: #2b3a69;
      line-height: 20px;
      margin: 0 0 10px; }
  .business-page .house-content .infos .open-contact {
    border: 0;
    background: #4fa3d5;
    background: -moz-linear-gradient(top, #4fa3d5 0%, #4b98c2 50%, #4d8eb3 50%, #4d8eb3 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #4fa3d5), color-stop(50%, #4b98c2), color-stop(50%, #4d8eb3), color-stop(100%, #4d8eb3));
    background: -webkit-linear-gradient(top, #4fa3d5 0%, #4b98c2 50%, #4d8eb3 50%, #4d8eb3 100%);
    background: -o-linear-gradient(top, #4fa3d5 0%, #4b98c2 50%, #4d8eb3 50%, #4d8eb3 100%);
    background: -ms-linear-gradient(top, #4fa3d5 0%, #4b98c2 50%, #4d8eb3 50%, #4d8eb3 100%);
    background: linear-gradient(to bottom, #4fa3d5 0%, #4b98c2 50%, #4d8eb3 50%, #4d8eb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fa3d5', endColorstr='#4d8eb3', GradientType=0 ); }
.business-page .house-content .main-content {
  width: 70%; }

@media screen and (max-width: 800px) {
  /* Colors --------------------- */
  /* Fonts --------------------- */
  .hp-content .content {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .hp-content .content .hp-filters-desk {
      display: none; }
    .hp-content .content .hp-filters-mobile {
      display: block; }
    .hp-content .content .feed {
      width: 100%; }
      .hp-content .content .feed .ui-tabs-nav {
        margin: 0 0 20px; }
      .hp-content .content .feed .ui-tabs-panel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .hp-content .content .feed .feed-item {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 48%; }
        .hp-content .content .feed .feed-item .img {
          width: 100%;
          height: 170px; }
        .hp-content .content .feed .feed-item .item-content {
          box-sizing: border-box;
          padding: 10px 15px 15px; }
          .hp-content .content .feed .feed-item .item-content .title {
            margin: 0 0 5px;
            min-height: 60px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center; }
            .hp-content .content .feed .feed-item .item-content .title a {
              font-size: 18px;
              margin: 0 0 3px;
              line-height: 20px; }
          .hp-content .content .feed .feed-item .item-content .release {
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
            .hp-content .content .feed .feed-item .item-content .release .resume {
              width: 100%;
              margin: 0 0 15px;
              font-size: 13px; }
            .hp-content .content .feed .feed-item .item-content .release .price {
              position: relative;
              width: 100%;
              right: initial; }
              .hp-content .content .feed .feed-item .item-content .release .price:after {
                background: none; }
              .hp-content .content .feed .feed-item .item-content .release .price .title {
                min-height: initial; }
              .hp-content .content .feed .feed-item .item-content .release .price .see-more {
                display: none; }

  .footer .footer-nav {
    margin: 0 0 20px; }
    .footer .footer-nav .wrapper {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
    .footer .footer-nav .link-item:hover {
      border-bottom: 0; }
  .footer .bottom-bar {
    height: initial;
    background: url("../_img/bottom-bar-bg.jpg") repeat-x center/cover; }
    .footer .bottom-bar .wrapper {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 25px 0; }
      .footer .bottom-bar .wrapper .left-side {
        margin: 0 0 10px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        order: 2; }
      .footer .bottom-bar .wrapper .center {
        margin: 0 0 20px;
        max-width: initial;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1; }
        .footer .bottom-bar .wrapper .center .social-icon {
          width: 50px;
          height: 50px;
          margin: 0 20px; }
      .footer .bottom-bar .wrapper .right-side {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-order: 3;
        -ms-flex-order: 3;
        order: 3; } }
@media screen and (max-width: 480px) {
  /* Colors --------------------- */
  /* Fonts --------------------- */
  .hp-content .content .feed .ui-tabs-nav .ui-tab {
    padding: 12px; }
    .hp-content .content .feed .ui-tabs-nav .ui-tab a {
      font-size: 18px; }
  .hp-content .content .feed .feed-item {
    width: 100%; }

  .footer .bottom-bar .wrapper .left-side {
    letter-spacing: 0; } }

/*# sourceMappingURL=default.css.map */
