/* Colors --------------------- */
/* Fonts --------------------- */
.hp-content .content .feed .ui-tabs-nav .ui-tab {
  padding: 12px; }
  .hp-content .content .feed .ui-tabs-nav .ui-tab a {
    font-size: 18px; }
.hp-content .content .feed .feed-item {
  width: 100%; }

.business-page .house-content .wrapper {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto; }
.business-page .house-content .infos {
  width: 100%;
  margin: 0 0 5%;
  padding: 0 5%;
  box-sizing: border-box; }
  .business-page .house-content .infos .info-item {
    padding: 0;
    margin: 0 3% 50px 0;
    width: 100%;
    float: none; }
    .business-page .house-content .infos .info-item.logo {
      float: none;
      width: 100%;
      margin: 0 0 5% 0;
      padding: 0; }
      .business-page .house-content .infos .info-item.logo img {
        margin: 15% 0;
        position: relative;
        max-width: 100%;
        width: 100%;
        padding: 0;
        border: 0;
        left: initial; }
    .business-page .house-content .infos .info-item.phones .info:before {
      margin: 0 15px 0 0;
      content: '\00bb';
      font-size: 35px;
      color: #649ebf; }
    .business-page .house-content .infos .info-item .location {
      margin: 35px 0 15px; }
    .business-page .house-content .infos .info-item .title {
      font-size: 5.25vw;
      letter-spacing: 2px; }
      .business-page .house-content .infos .info-item .title:before {
        height: 55px;
        width: 60px; }
    .business-page .house-content .infos .info-item .info {
      font-size: 5vw;
      line-height: 1.15em; }
  .business-page .house-content .infos .business-mailto {
    display: none; }
  .business-page .house-content .infos .open-contact {
    width: 250px;
    padding: 18px 0;
    margin: 0 auto 40px;
    font-size: 4.5vw; }
.business-page .house-content .main-content {
  width: 100%; }
  .business-page .house-content .main-content .business-resume {
    border-left: 7px solid rgba(77, 142, 179, 0.65);
    padding: 0 0 0 3.25%;
    line-height: 1.3em;
    font-size: 4.25vw;
    font-weight: 400; }
  .business-page .house-content .main-content .business-release .content {
    font-weight: 100;
    font-size: 3.5vw;
    line-height: 1.5em; }
  .business-page .house-content .main-content .business-buffet .buffet-title {
    font-size: 5vw;
    padding: 15px 15px 15px 55px;
    background: white url("../_img/buffet-icon.png") no-repeat 15px 13.5px; }
  .business-page .house-content .main-content .business-buffet .buffet-subtitle {
    font-weight: 400;
    font-size: 3.75vw;
    margin: 25px 0 30px; }
  .business-page .house-content .main-content .business-buffet .buffet-menu .menu-item {
    font-size: 3.55vw; }
  .business-page .house-content .main-content .slider-pro .sp-bottom-thumbnails {
    display: none; }
.business-page footer {
  margin: 20px 0 0; }

.footer .bottom-bar .wrapper .left-side {
  letter-spacing: 0; }

/*# sourceMappingURL=phone.css.map */
