/* Colors --------------------- */
/* Fonts --------------------- */
.hp-content .content {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hp-content .content .hp-filters-desk {
    display: none; }
  .hp-content .content .hp-filters-mobile {
    display: block; }
  .hp-content .content .feed {
    width: 100%; }
    .hp-content .content .feed .ui-tabs-nav {
      margin: 0 0 20px; }
    .hp-content .content .feed .ui-tabs-panel {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
    .hp-content .content .feed .feed-item {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 48%; }
      .hp-content .content .feed .feed-item .img {
        width: 100%;
        height: 170px; }
      .hp-content .content .feed .feed-item .item-content {
        box-sizing: border-box;
        padding: 10px 15px 15px; }
        .hp-content .content .feed .feed-item .item-content .title {
          margin: 0 0 5px;
          min-height: 60px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center; }
          .hp-content .content .feed .feed-item .item-content .title a {
            font-size: 18px;
            margin: 0 0 3px;
            line-height: 20px; }
        .hp-content .content .feed .feed-item .item-content .release {
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          .hp-content .content .feed .feed-item .item-content .release .resume {
            width: 100%;
            margin: 0 0 15px;
            font-size: 13px; }
          .hp-content .content .feed .feed-item .item-content .release .price {
            position: relative;
            width: 100%;
            right: initial; }
            .hp-content .content .feed .feed-item .item-content .release .price:after {
              background: none; }
            .hp-content .content .feed .feed-item .item-content .release .price .title {
              min-height: initial; }
            .hp-content .content .feed .feed-item .item-content .release .price .see-more {
              display: none; }

.footer .footer-nav {
  margin: 0 0 20px; }
  .footer .footer-nav .wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .footer .footer-nav .link-item:hover {
    border-bottom: 0; }
.footer .bottom-bar {
  height: initial;
  background: url("../_img/bottom-bar-bg.jpg") repeat-x center/cover; }
  .footer .bottom-bar .wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 25px 0; }
    .footer .bottom-bar .wrapper .left-side {
      margin: 0 0 10px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .footer .bottom-bar .wrapper .center {
      margin: 0 0 20px;
      max-width: initial;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
      .footer .bottom-bar .wrapper .center .social-icon {
        width: 50px;
        height: 50px;
        margin: 0 20px; }
    .footer .bottom-bar .wrapper .right-side {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }

/*# sourceMappingURL=tablet.css.map */
