/* Colors --------------------- */
/* Fonts --------------------- */
.hp-content {
  margin: 20px 0 0; }
  .hp-content .content {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .hp-content .content .hp-filters.mobile {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 20px;
      width: 100%; }
      .hp-content .content .hp-filters.mobile .filter {
        width: 33%; }
        .hp-content .content .hp-filters.mobile .filter .filter-list {
          display: none;
          margin: 0 0 0 -160px;
          position: absolute;
          background: white;
          height: 400px;
          width: 320px;
          left: 50%;
          z-index: 1; }
    .hp-content .content .feed {
      width: 100%; }
      .hp-content .content .feed .ui-tabs-nav {
        margin: 0 0 20px; }
      .hp-content .content .feed .ui-tabs-panel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .hp-content .content .feed .feed-item {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 48%; }
        .hp-content .content .feed .feed-item .img {
          width: 100%;
          height: 170px; }
        .hp-content .content .feed .feed-item .item-content {
          box-sizing: border-box;
          padding: 10px 15px 15px; }
          .hp-content .content .feed .feed-item .item-content .title {
            margin: 0 0 5px;
            min-height: 60px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center; }
            .hp-content .content .feed .feed-item .item-content .title a {
              font-size: 18px;
              margin: 0 0 3px;
              line-height: 20px; }
          .hp-content .content .feed .feed-item .item-content .release {
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
            .hp-content .content .feed .feed-item .item-content .release .resume {
              width: 100%;
              margin: 0 0 15px;
              font-size: 13px; }
            .hp-content .content .feed .feed-item .item-content .release .price {
              position: relative;
              width: 100%;
              right: initial;
              top: initial; }
              .hp-content .content .feed .feed-item .item-content .release .price:after {
                background: none; }
              .hp-content .content .feed .feed-item .item-content .release .price .title {
                min-height: initial; }
              .hp-content .content .feed .feed-item .item-content .release .price .see-more {
                display: none; }

.business-page .house-content .wrapper {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
.business-page .house-content .infos {
  width: 100%;
  margin: 0 0 5%; }
  .business-page .house-content .infos .info-item {
    padding: 0;
    margin: 0 3% 50px 2%;
    width: 55%;
    float: right; }
    .business-page .house-content .infos .info-item.logo {
      float: left;
      width: 35%;
      margin: 0 5% 5% 0;
      padding: 0; }
      .business-page .house-content .infos .info-item.logo img {
        margin: 15% 0 15% -43%;
        position: relative;
        max-width: 100%;
        width: 100%;
        padding: 0;
        border: 0;
        left: 50%; }
    .business-page .house-content .infos .info-item.phones .info:before {
      margin: 0 15px 0 0;
      content: '\00bb';
      font-size: 35px;
      color: #649ebf; }
    .business-page .house-content .infos .info-item .location {
      margin: 35px 0 15px; }
    .business-page .house-content .infos .info-item .title {
      font-size: 3.5vw;
      letter-spacing: 2px; }
      .business-page .house-content .infos .info-item .title:before {
        height: 55px;
        width: 60px; }
    .business-page .house-content .infos .info-item .info {
      font-size: 3.5vw;
      line-height: 1.15em; }
  .business-page .house-content .infos .business-mailto {
    display: none; }
  .business-page .house-content .infos .open-contact {
    width: 35%;
    padding: 18px 0;
    font-size: 2.5vw; }
.business-page .house-content .main-content {
  width: 100%; }
  .business-page .house-content .main-content .business-resume {
    border-left: 7px solid rgba(77, 142, 179, 0.65);
    padding: 0 0 0 3.25%;
    line-height: 1.3em;
    font-size: 4.25vw;
    font-weight: 400; }
  .business-page .house-content .main-content .business-release .content {
    font-weight: 100;
    font-size: 3vw;
    line-height: 1.5em; }
  .business-page .house-content .main-content .business-buffet .buffet-title {
    font-size: 3vw;
    padding: 15px 15px 15px 55px;
    background: white url("../_img/buffet-icon.png") no-repeat 15px 13.5px; }
  .business-page .house-content .main-content .business-buffet .buffet-subtitle {
    font-weight: 400;
    font-size: 3vw;
    margin: 25px 0 30px; }
  .business-page .house-content .main-content .business-buffet .buffet-menu .menu-item {
    font-size: 2.5vw; }

.footer .footer-nav {
  margin: 0 0 20px; }
  .footer .footer-nav .wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .footer .footer-nav .link-item:hover {
    border-bottom: 0; }
.footer .bottom-bar {
  height: initial; }
  .footer .bottom-bar .wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 25px 0; }
    .footer .bottom-bar .wrapper .left-side {
      margin: 0 0 10px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .footer .bottom-bar .wrapper .center {
      margin: 0 0 20px;
      max-width: initial;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
      .footer .bottom-bar .wrapper .center .social-icon {
        width: 50px;
        height: 50px;
        margin: 0 20px; }
    .footer .bottom-bar .wrapper .right-side {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }

/*# sourceMappingURL=tablet.css.map */
